@red-base: #ca473b;
@red-base-storage: #9E382E;
@green-base: #009688;
@green-base-storage: #007368;
@white: #FFF;
@black: #2b2b2b;
@color-font: #595959;
html{
	body{
		font-family:Roboto,sans-serif;
		button{
			&.btn{
				color: @white;
				padding: 5px 20px;
				font-size: 15px;
				border-radius: 3px;
				&.btn-default{
					border-color: @red-base;
					background: @red-base;
					&:hover, &:active{
						background: @red-base-storage;
						color: @white;
						border-color: @red-base;
					}
					
				}
				&.btn-primary{
					border-color: @green-base;
					background: @green-base;
					&:hover, &:active{
						background: @green-base-storage;
						color: @white;
						border-color: @green-base;
					}
				}
			}
		}
		.alert-danger{
			clear: both;
		}
		.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
			background-color: @red-base;
			border-color: @red-base;
		}
		.pagination>li>a, .pagination>li>span{
			color: @red-base;
		}
	}
}
.cover{
	position: relative;
	background-image: url('../img/cover1.jpg');
	background-size: cover;
	background-position: 50%;
	min-height: 700px;
	&.intent{
		background-position: 50% 8%;
		min-height: 400px;
	}
	.portal-bottom-bar{
		background-color: rgba(255,255,255, 0.9);
	}
	.submenu{
		background: rgba(43,43,43,0.8);
		height: 36px;
		padding-right: 100px;
		ul{
			li{
				border-left: 1px solid @white;
				display: inline-block;
				padding: 4px;
				text-align: center;
				margin: 4px;
				&:last-child{
					border-right: 1px solid @white;
				}
				a{
					text-transform: uppercase;
					color: @white;
					opacity: 0.9;
				}
			}
		}
	}
	.box-pophoverUserLog {
		display: none;
		position: absolute;
		z-index: 3;
		top: 36px;
		right: -5px;
		border: solid 1px #ccc;
		background: rgba(255,255,255, 0.9);
		width:200px;
		-webkit-border-bottom-right-radius: 6px;
		-webkit-border-bottom-left-radius: 6px;
		-moz-border-radius-bottomright: 6px;
		-moz-border-radius-bottomleft: 6px;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		a{
			color: @color-font;
		    display: block;
		    width: 100%;
		    padding:8px 19px !important;
		    line-height:28px !important;
		    text-align: left;
		    text-transform: none !important;
		}
		a:hover{
		    background: @white;
		}
		ul li{
		    padding:0 !important;
		    width: 100%;
		}
		ul li:after{
		    border:none !important;
		}
		a.l-logoutUser{
		    border-top: solid 1px #ccc;
		    i{
		        font-size: 1.3em;
		    }
		}
	}
	article{
		&.description{
			margin: 278px 0 0;
			p, h2{
				max-width: 600px;
				margin: 0 auto;
				font-size: 30px;
				text-align: center;
				color: @white;
				margin-top: 15px;
				a{
					color: @white;
					&:hover{
						color: @white;
					}
					i{
						text-shadow: 0px 1px 6px @black;
					}
				}
			}
			h2{
				font-size: 50px;
				text-shadow: 2px 2px 5px @black;
				padding: 5px 50px;
				font-weight: bold;
				background: transparent;
				// background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0) 100%);
				// background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(25%, rgba(0,0,0,0.1)), color-stop(50%, rgba(0,0,0,0.2)), color-stop(75%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0,0,0,0)));
				// background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0) 100%);
				// background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0) 100%);
				// background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0) 100%);
				// background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
			}
		}
		&.search{
			position: absolute;
			bottom: 0;
			height: 70px;
			width: 100%;
			background-color: @red-base;
			text-align: center;
			form{
				div{
					display: block;
				}
				&#search{
					margin-top: 18px;
					span{
						background: white;
						border-radius: 2px;
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
					}
					input{
						border-radius: 2px;
						height: 35px;
					}
				}
			}
		}
	}
}
.container{
	.lista{
		min-height: 350px;
	}
	.entre{
		min-height: 120px;
		border-top: 1px solid #e1e1e1;
		color: @black;
		padding: 20px 0;
		&:last-child{
			border-bottom: 1px solid #e1e1e1;
		}
		div{
			&.img{
				text-align: center;
				img{
					max-width: 100px;
				}
			}
			h3{
				margin: 0;
				font-weight: bold;
			}
			strong{
				font-style: italic;
			}
			p{
				color: @color-font;
				// width: 250px;
				// white-space: nowrap;
				// overflow: hidden;
				// text-overflow: ellipsis;
			}
		}
	}
	.label-default{
		padding: 4px 15px;
	}
	.more{
		margin: 20px 0;
	}
	.modal{
		color: @black;
		&.datailEntrepreneurship{
			.modal-dialog{
				.modal-header{
					border-bottom: 0;
				}
				.modal-body{
					.info{
						text-align: center;
						border-bottom: 2px solid @red-base;
						img{
							max-width: 100%;
						}
						h3{
							margin: 0;
							margin-top: 10px;
							font-weight: bold;
						}
						p{
							color: @color-font;
						}
					}
					.contact{
						padding: 8px 5px;
						strong{
							font-size: 16px;
						}
					}
				}
				.modal-footer{
					border-top: 0;
				}
			}
		}
		&.register{
			.input-group{
				padding: 0 15px;
			}
			.btn-primary{
				border-color: @green-base;
				background: @green-base;
			}
			.btn-file {
				position: relative;
				overflow: hidden;
				input[type="file"] {
					position: absolute;
					top: 0;
					right: 0;
					min-width: 100%;
					min-height: 100%;
					font-size: 100px;
					text-align: right;
					filter: alpha(opacity=0);
					opacity: 0;
					background: red;
					cursor: inherit;
					display: block;
				}
			}
			input[readonly] {
				background-color: white !important;
				cursor: text !important;
			}
			.modal-dialog{
				.modal-content{
					background: transparent;
					.modal-header{
						height: 45px;
						background: rgba(202,71,59, 0.9);
						.close{
							color: @white;
							opacity: 0.8;
						}
					}
					.modal-body{
						background: rgba(255,255,255, 0.9);
						background-image: url('../img/bg-modal-hoyuelos.jpg');
						min-height: 120px;
						article{
							.welcome{
								p{
									text-align: center;
									font-size: 30px;
									padding: 42px;
									padding-bottom: 15px;
								}
								.form-group{
									div{
										float: none;
									}
								}
							}
							form{
								>div{
									display: none;
									&.step1{}
									&.step2{}
									&.step3{}
									&.step4{}
									h3{
										font-size: 35px;
									}
									label{
										color: @color-font;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

footer{
	color: #bbb;
	background-color: #616161;
	p{
		text-align: center;
		padding: 5px;
		margin: 0;
	}
}


@keyframes hvr-icon-hang {
	0% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}

	50% {
		-webkit-transform: translateY(2px);
		transform: translateY(2px);
	}

	100% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
}

@-webkit-keyframes hvr-icon-hang-sink {
	100% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
}

@keyframes hvr-icon-hang-sink {
	100% {
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
	}
}

.hvr-icon-hang {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	padding-right: 2.2em;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	&:before {
		// content: "\f078";
		position: absolute;
		right: 0.5em;
		padding: 0 1px;
		// font-family: FontAwesome;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
	&:hover:before, &:focus:before, &:active:before {
		-webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
		animation-name: hvr-icon-hang-sink, hvr-icon-hang;
		-webkit-animation-duration: .3s, 1.5s;
		animation-duration: .3s, 1.5s;
		-webkit-animation-delay: 0s, .3s;
		animation-delay: 0s, .3s;
		-webkit-animation-timing-function: ease-out, ease-in-out;
		animation-timing-function: ease-out, ease-in-out;
		-webkit-animation-iteration-count: 1, infinite;
		animation-iteration-count: 1, infinite;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		-webkit-animation-direction: normal, alternate;
		animation-direction: normal, alternate;
	}
}
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.profile{
	.img{
		text-align: center;
		img{
			width: 100%;
		}
	}
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

@media (min-width: 768px){
	.modal-dialog{
		width: 800px;
		.modal-body, .modal-footer{
			padding: 10px 150px;
		}
	}
}
